doctype html
html
  head
    meta(charset="utf8")



    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans")
  body
    .wrapper
      include ../partials/header.pug
      include ../partials/slider.pug
      include ../partials/works.pug
      include ../partials/location.pug
      include ../partials/studio.pug
      include ../partials/services.pug
      include ../partials/stages.pug
      include ../partials/session.pug
      include ../partials/price.pug
      include ../partials/history.pug
      include ../partials/certificate.pug
      include ../partials/reviews.pug
      include ../partials/form.pug
      include ../partials/footer.pug











