doctype html
html
  head
    meta(charset="utf8")



    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans")
  body
    .wrapper
      include ../partials/author.pug
      include ../partials/portfolio.pug











