doctype html
html
  head
    meta(charset="utf8")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans")
  body
    .wrapper
      include ../partials/header.pug
      include ../partials/slider.pug
      include ../partials/works.pug
      include ../partials/location.pug
      include ../partials/studio.pug
      include ../partials/services.pug
      include ../partials/stages.pug
      include ../partials/session.pug
      include ../partials/price.pug
      include ../partials/history.pug
      include ../partials/certificate.pug
      include ../partials/reviews.pug
      include ../partials/form.pug
      include ../partials/footer.pug







      h1 header



- const kittens = 10
case kittens
  when 0
    p you have no kittens
  when 1
    p you have a kitten
  default
    p you have #{kittens} kittens

- const list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"];
each item in list
    li= item



.title regerger 


.knowledge 
    .title.title_white.knowledge__title ergerghe



.example
    .title.example__title sggsd
      .content content

      include ../partials/card.pug
      - const text = ' Etiam quam erat, molestie elementum elementum porta, tincidunt eget nunc. Ut arcu quam, feugiat vitae laoreet vel, consectetur eget lorem. Duis ultrices ullamcorper dignissim.';
      - const cards = [
      -  {title: 'Lorem ipsum dolor', text, image: '../assets/images/octocat.png'},
      -  {title: 'sit amet, consectetur', text, image: '../assets/images/octocat.png'},
      - {title: 'adipiscing elit.', text, image: '../assets/images/octocat.png'}]

      .cards
        each item in cards
          +card(item.title, item.text, 'cards__item', item.image)
        