.certificate
    .certificate__title Подарочный сертификат на фотосессию
    .certificate__content 
        .certificate__left
            .certificate__overhead СЕРТИФИКАТ НА ФОТОСЕССИЮ
            .certificate__head Это подарок,<br>который западает<br>в душу
            ul.certificate__ul
                li Креативное оформление
                li Открытый календарь
                li Всё включено
        .certificate__right
            img.certificate__image(src='../assets/images/envelope.png')
            .certificate__term Срок действия сертификата: 2 месяца<br>со дня приобретения.
            button.button.button_certificate ПРИОБРЕСТИ
    img.certificate__image(src='../assets/images/curve-certificate.png')
