.certificate
    include ../partials/card.pug
    - const lists = [
    -  {text: 'Креативное оформление', image: '../assets/images/paragraph.png'},
    -  {text: 'Открытый календарь', image: '../assets/images/paragraph.png'},
    - {text: 'Всё включено', image: '../assets/images/paragraph.png'}]
    .certificate__title Подарочный сертификат на фотосессию
    .certificate__content 
        .certificate__left
            .certificate__overhead СЕРТИФИКАТ НА ФОТОСЕССИЮ
            .certificate__head Это подарок,<br>который западает<br>в душу
            each item in lists
                +list(item.text, 'list', item.image)
        .certificate__right
            img.certificate__image(src='../assets/images/envelope.png')
            .certificate__term Срок действия сертификата: 2 месяца<br>со дня приобретения.
            button.button.button_certificate ПРИОБРЕСТИ
        img.certificate__curve(src='../assets/images/curve-certificate.png')