mixin menu(title)
    .text__header.link__header
        a.link.link_footer(href= '#')=title

- const positions = ['Портфолио', 'Виды работ', 'О фотостудии', 'Услуги и цены', 'Контакты']

.footer
    .footer__content
        .logo 
            img.logo_footer(src='../assets/images/logo-footer.png')
        .menu.menu_footer
            each item in positions
                +menu(item)
    .footer__networks
        .footer__text Наши социальные сети:
        img.foter__image(src='../assets/images/instagram.png')
        img.foter__image(src='../assets/images/facebook.png')
        img.foter__image(src='../assets/images/twitter.png')
        img.foter__image(src='../assets/images/telegram.png')
