.form 
    .form__content 
        .form__left 
            img.form__map(src='../assets/images/map.png')
            img.form__address(src='../assets/images/address.png')
        .form__right
            img.form__circle-left(src='../assets/images/circle-left.png')
            .form__text Форма обратной связи
            .form.form__form 
                .form__input
                    .form__label Имя
                    input.input__text(type='text' name='name' placeholder='Введите ваше имя')
                .form__input
                    .form__label E-mail
                    input.input__text(type='email' name='email' placeholder='Введите ваш E-mail')
                .form__input
                    .form__label Телефон
                    input.input__text(type='tel' name='tel' placeholder='Введите ваше Телефон')
                button.button.button_form ОТПРАВИТЬ
                .form__agreement Нажимая кнопку «Отправить», вы даете согласие на обработку<br>персональных данных и соглашаетесь с <span style='bold'; text-decoration-line='underline'>политикой конфиденциальности</span>
