mixin menu(title)
    .text__header.link__header
        a.link.link_header(href= '#')=title

- const points = ['Портфолио', 'Виды работ', 'О фотостудии', 'Услуги и цены', 'Контакты']

.header
    .header__content
        .logo 
            img.logo__image(src='../assets/images/logo.png')
        .menu 
            each item in points
                +menu(item)
        button.header__button ОБРАТНЫЙ ЗВОНОК
        .header__tel +7 (499) 344 60 91


h1 header



- const kittens = 10
case kittens
  when 0
    p you have no kittens
  when 1
    p you have a kitten
  default
    p you have #{kittens} kittens

- const list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"];
each item in list
    li= item



.title regerger 


.knowledge 
    .title.title_white.knowledge__title ergerghe



.example
    .title.example__title sggsd