.history
    .history__title Фотоис456789кусство в тренде. Любая фотосессия ваша история
    .history__title-middle Фотоискусство в тренде.<br>Любая фотосессия ваша история
    .history__text Мы искренне так считаем и готовы кричать эту фразу на весь мир. Фотографии давно перестали пылиться на полках в семейных, потрёпанных альбомах.<br>Хотите самовыразиться и не знаете как? Позвоните нам и закажите фотосъемку.<br>Хотите удивить и впечатлить? Мы вам поможем.<br>Не уверены? Посмотрите отзывы и проконсультируйтесь.<br>Боитесь фотографироваться? Наши локации помогут вам расслабиться и почувствовать себя как дома.<br><br>Доступные цены для всех и вежливость.<br><br>Повторим еще раз: мы работаем в первую очередь для клиентов, и аренда нашей фотостудии имеют цены семи...
    .history__text-middle Мы искренне так считаем и готовы кричать эту фразу на весь мир. Фотографии давно перестали<br>пылиться на полках в семейных, потрёпанных альбомах.<br><br>Хотите самовыразиться и не знаете как? Позвоните нам и закажите фотосъемку.<br>Хотите удивить и впечатлить? Мы вам поможем.<br>Не уверены? Посмотрите отзывы и проконсультируйтесь.<br>Боитесь фотографироваться? Наши локации помогут вам расслабиться и почувствовать себя как<br>дома.<br><br>Доступные цены для всех и вежливость...
    a.history__link
        img.history__image(src='../assets/images/session-link.png')