.session
    .session__title Фотостудия для любых идейных фотоссесий
    .session__text Воплотите мечту с нашей фотостудией и приобретите красивые, уникальные, качественные фотографии, выбрав один из наших залов.<br>А их, -на секундочку, -аж семь штук.<br>Каждый наш зал оборудован интерьером и профессиональным оборудованием, и подойдет для любой фотоссесии, а мы хотим рассказать<br>вам обо всем подробнее.<br><br>Какие идеи можно воплотить?<br><br>• Фотоссесия Love Story<br><br>Мечтаете показать всему миру вашу историю создания любви или хранить снимки  в памятном альбоме... 
    .session__text-middle Воплотите мечту с нашей фотостудией и приобретите красивые, уникальные, качественные<br>фотографии, выбрав один из наших залов.<br>А их, -на секундочку, -аж семь штук.<br>Каждый наш зал оборудован интерьером и профессиональным оборудованием, и подойдет<br>для любой фотоссесии, а мы хотим рассказать<br>вам обо всем подробнее.<br><br>Какие идеи можно воплотить?<br><br>• Фотоссесия Love Story<br><br>Мечтаете показать всему миру вашу историю создания любви или хранить... 
    a.session__link
        img.session__image(src='../assets/images/session-link.png')