.stages 
    .stages__title Этапы работ
    img.stages__image(src='../assets/images/curve-stages.png')
    .stages__card 
    
      include ../partials/card.pug
      - const t2 = 'Съешь еще этих мягких французских булок, да выпей чаю. Съешь еще этих мягких.';
      - const c2 = [
      -  {title: 'Заявка', t2, class: 'stage__first', number: '1'},
      -  {title: 'Бронь', t2, class: 'stage__second', number: '2'},
      -  {title: 'Составление Технического задания', t2, class: 'stage__third', number: '3'},
      -  {title: 'Съёмка', t2, class: 'stage__fourth', number: '4'},
      - {title: 'Готовые фото', t2, class: 'stage__fifth', number: '5'}]
   
      each item in c2
          +stage(item.title, t2, item.class, item.number)