.works
    .works__title Наши работы
    .works__content
        .swiper 
            .swiper-wrapper 
                .swiper-slide 
                    img(src="../assets/images/studio3.jpg")
                .swiper-slide
                    img(src="../assets/images/studio1.jpg")
                .swiper-slide 
                    img(src="../assets/images/studio2.jpg")
            .swiper-button-prev
            .swiper-button-next
            .swiper-pagination