.works 
    .works__title Наши работы
    .works__title fghert
    .works__content
        .works__slider#works__slider
            img#works__slider1(src='../assets/images/1.jpg' style="width: 450px;")
    .works__nav
        p.works__left &#10229
        #works__right.works__right &#10230
    | <div><a href="lala"> blabla </a></div>
    <div><a href="lala"> blabla </a></div>
    <div class="slider"><img src='../assets/images/1.jpg' style="width: 450px;"></div>
    .works__title fghertfgetfghgjkhuio
