.certificate {
  width: 1440px;
  height: 920px;
  padding-top: 1px;
  text-align: center;
}
.certificate__title {
  margin-top: 81px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43.2px;
  font-weight: semibold;
  color: #333333;
}
.certificate__image {
  position: relative;
}
.certificate__content {
  margin-top: 79px;
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
  height: 623px;
  background-color: #F2F4F4;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}
.certificate__left {
  text-align: left;
}
.certificate__overhead {
  margin-top: 112px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  font-weight: medium;
  color: #C1C1C1;
}
.certificate__head {
  margin-top: 8px;
  font-family: Montserrat;
  font-size: 48px;
  line-height: 67px;
  font-weight: semibold;
  color: #4A4A4A;
}
