.certificate {
  width: 1440px;
  height: 920px;
  padding-top: 1px;
  text-align: center;
}
.certificate__title {
  margin-top: 81px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43.2px;
  font-weight: semibold;
  color: #333333;
}
.certificate__image {
  position: relative;
}
.certificate__content {
  margin-top: 79px;
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
  height: 623px;
  background-color: #F2F4F4;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.certificate__left {
  text-align: left;
  margin-left: 120px;
}
.certificate__overhead {
  margin-top: 112px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  font-weight: medium;
  color: #C1C1C1;
}
.certificate__head {
  margin-top: 8px;
  margin-bottom: 53px;
  font-family: Montserrat;
  font-size: 48px;
  line-height: 67px;
  font-weight: semibold;
  color: #4A4A4A;
}
.list {
  text-align: center;
  margin-top: 26px;
  display: flex;
  justify-content: flex-start;
}
.list__image {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}
.list__text {
  margin-left: 16px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: semibold;
  color: #4A4A4A;
}
.certificate__right {
  margin-right: 86px;
}
.certificate__image {
  margin-top: -7px;
  z-index: 2;
}
.certificate__term {
  margin-top: -19px;
  margin-right: 94px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #333333;
}
.button_certificate {
  margin-top: 24px;
  width: 342px;
  height: 48px;
  margin-right: 92px;
}
.certificate__curve {
  position: absolute;
  left: 574px;
  top: 200px;
}
@media only screen and (max-width: 1024px) {
  .certificate {
    width: 100vw;
    height: 89.84vw;
  }
  .certificate__title {
    margin-top: 9.77vw;
    font-size: 36px;
    line-height: 43.2px;
  }
  .certificate__head {
    font-size: 36px;
    line-height: 50px;
  }
  .list__text {
    line-height: 22px;
  }
  .certificate__content {
    margin-top: 7.81vw;
    width: 84.38vw;
    height: 60.84vw;
  }
}
