.header {
  margin-right: auto;
  margin-left: auto;
  width: 1440px;
  padding-top: 1px;
  height: 80px;
}
.header__content {
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  width: 581px;
  display: flex;
  justify-content: space-between;
}
.text__header {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-style: medium;
  color: #4A4A4A;
}
.link_header {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-style: medium;
  color: #4A4A4A;
}
.header__button {
  height: 30px;
  width: 196px;
  font-size: 12px;
  line-height: 15px;
  font-style: medium;
  color: #E97522;
  letter-spacing: 1px;
  background-color: white;
  border-color: #E97522;
  border-radius: 10px;
  border-bottom: 2px;
  border-style: solid;
}
.header__tel {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-style: semibold;
  color: #4A4A4A;
}
