.headerOld {
  margin-right: auto;
  margin-left: auto;
  width: 1440px;
  padding-top: 1px;
  height: 80px;
}
.header {
  width: 1440px;
  padding-top: 1px;
  height: 80px;
}
.header__content {
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  width: 581px;
  display: flex;
  justify-content: space-between;
}
.text__header {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: medium;
  color: #4A4A4A;
}
.link_header {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: medium;
  color: #4A4A4A;
}
.header__button {
  height: 30px;
  width: 196px;
  font-size: 12px;
  line-height: 15px;
  font-weight: medium;
  color: #E97522;
  letter-spacing: 1px;
  background-color: white;
  border-color: #E97522;
  border-radius: 10px;
  border-bottom: 2px;
  border-style: solid;
}
.header__tel {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: semibold;
  color: #4A4A4A;
}
.header__contacts {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .headerOld {
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
    height: 7.81vw;
    background-color: #E97522;
  }
  .header__content {
    width: 84.36vw;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
  }
  .menu {
    width: 581px;
    display: flex;
    justify-content: space-between;
  }
  .text__header {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: medium;
    color: #4A4A4A;
  }
  .link_header {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: medium;
    color: #4A4A4A;
  }
  .header__button {
    height: 30px;
    width: 196px;
    font-size: 12px;
    line-height: 15px;
    font-weight: medium;
    color: #E97522;
    letter-spacing: 1px;
    background-color: white;
    border-color: #E97522;
    border-radius: 10px;
    border-bottom: 2px;
    border-style: solid;
  }
  .header__tel {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: semibold;
    color: #4A4A4A;
  }
  .header {
    width: 100vw;
    height: 7.81vw;
  }
  .header__button {
    display: none;
  }
  .header__tel {
    display: none;
  }
  .header__contacts {
    display: block;
    text-align: right;
  }
  .header__button-middle {
    margin-top: 7px;
    display: block;
    width: 15.82vw;
    height: 2.83vw;
    font-size: 11px;
    line-height: 13px;
  }
  .header__tel-middle {
    display: block;
  }
}
