.history {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  height: 461px;
  padding-top: 1px;
  text-align: center;
  background-color: #F9F4EE;
}
.history__title {
  margin-top: 59px;
  margin-left: 100px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43.2px;
  font-weight: semibold;
  color: #333333;
}
.history__title-middle {
  text-align: center;
  margin-top: 5.86vw;
  font-family: Montserrat;
  font-size: 30px;
  line-height: 36px;
  font-weight: semibold;
  color: #333333;
  display: none;
}
.history__text {
  text-align: left;
  margin-left: 100px;
  margin-top: 32px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 26px;
  font-weight: medium;
  color: #4A4A4A;
  display: block;
}
.history__text-middle {
  text-align: left;
  margin-top: 32px;
  margin-left: 9.77vw;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: medium;
  color: #4A4A4A;
  display: none;
}
.history__link {
  float: right;
}
@media only screen and (max-width: 1024px) {
  .history {
    width: 100vw;
    height: 47.95vw;
    padding-right: 0px;
  }
  .history__title {
    display: none;
  }
  .history__text {
    display: none;
  }
  .history__text-middle {
    display: block;
  }
  .history__title-middle {
    display: block;
  }
  .history__link {
    margin-right: 7.81vw;
  }
}
