@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: medium;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: semibold;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}
body {
  margin: 0 auto;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  width: 1440px;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 1200px;
  margin: 0 10px;
}
.header {
  margin-right: auto;
  margin-left: auto;
  width: 1440px;
  padding-top: 1px;
  height: 80px;
}
.header__content {
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  width: 581px;
  display: flex;
  justify-content: space-between;
}
.text__header {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: medium;
  color: #4A4A4A;
}
.link_header {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: medium;
  color: #4A4A4A;
}
.header__button {
  height: 30px;
  width: 196px;
  font-size: 12px;
  line-height: 15px;
  font-weight: medium;
  color: #E97522;
  letter-spacing: 1px;
  background-color: white;
  border-color: #E97522;
  border-radius: 10px;
  border-bottom: 2px;
  border-style: solid;
}
.header__tel {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: semibold;
  color: #4A4A4A;
}
.card {
  text-align: center;
  box-shadow: 0px 0px 6px #d9d9d9;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-10px);
}
.card__image {
  height: 30px;
  margin-bottom: 10px;
}
.card__title {
  font-size: 20px;
  margin-bottom: 10px;
}
.card__text {
  font-size: 14px;
}
.stage {
  text-align: center;
  box-shadow: 0px 0px 6px #d9d9d9;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.stage:hover {
  transform: translateY(-10px);
}
.stage__image {
  height: 30px;
  margin-bottom: 10px;
}
.stage__title {
  font-size: 20px;
  margin-bottom: 10px;
}
.stage__text {
  font-size: 14px;
}
.cards {
  display: flex;
}
.cards__item {
  margin-left: 20px;
  width: 25%;
}
.cards__item:first-child {
  margin-left: 0;
}
.slider {
  width: 1440px;
  height: 860px;
  padding-top: 1px;
  background-image: url("../images/studio4.jpg");
}
.slider__content {
  padding-left: 100px;
}
.slider__title {
  margin-top: 148px;
  font-family: Montserrat;
  font-size: 66px;
  line-height: 78px;
  font-weight: bold;
  color: #F5F5F5;
}
.slider__subtitle {
  margin-top: 52px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43.2px;
  font-style: semibold;
  color: #F5F5F5;
}
.slider__text {
  margin-top: 24px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 26px;
  font-weight: medium;
  color: #F5F5F5;
}
.button {
  width: 366px;
  height: 64px;
  font-family: Montserrat;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: semibold;
  background: linear-gradient(#FFA96B, #EE7A28);
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
}
.button_slider {
  margin-top: 32px;
}
.works {
  width: 1440px;
  height: 973px;
  padding-top: 1px;
  text-align: center;
}
.works__title {
  margin-top: 119px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43px;
  font-weight: semibold;
  color: #333333;
}
.location {
  width: 1440px;
  height: 720px;
  padding-top: 1px;
  text-align: center;
}
.location__title {
  margin-top: 59px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  color: #333333;
}
.button_location {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.studio {
  width: 1440px;
  height: 907px;
  padding-top: 1px;
  text-align: center;
}
.studio__title {
  margin-top: 69px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43px;
  font-weight: semibold;
  color: #333333;
}
.studio__image {
  margin-top: 80px;
  width: 1440px;
  height: 674px;
}
.services {
  width: 1440px;
  height: 2074px;
  padding-top: 1px;
  text-align: center;
}
.services__title {
  margin-top: 59px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43.2px;
  font-weight: semibold;
  color: #333333;
}
.services__image {
  margin-top: 80px;
  width: 1240px;
  height: 1811px;
}
.stages {
  width: 1440px;
  height: 1212px;
  padding-top: 1px;
  text-align: center;
}
.stages__title {
  margin-top: 77px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43px;
  font-weight: semibold;
  color: #333333;
}
.session {
  width: 1240px;
  height: 461px;
  padding-top: 1px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  background-color: #F2F4F4;
}
.session__title {
  margin-top: 59px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43px;
  font-weight: semibold;
  color: #333333;
}
.session__text {
  text-align: left;
  margin-top: 32px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 26px;
  font-weight: medium;
  color: #4A4A4A;
}
.session__link {
  margin-top: 2px;
  float: right;
}
.price {
  width: 1440px;
  height: 1108px;
  padding-top: 1px;
  text-align: center;
}
.price__title {
  margin-top: 117px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  color: #333333;
}
.history {
  width: 1240px;
  height: 461px;
  padding-top: 1px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  background-color: #F9F4EE;
}
.history__title {
  margin-top: 59px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43.2px;
  font-weight: semibold;
  color: #333333;
}
.history__text {
  text-align: left;
  margin-top: 32px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 26px;
  font-weight: medium;
  color: #4A4A4A;
}
.history__link {
  float: right;
}
.certificate {
  width: 1440px;
  height: 920px;
  padding-top: 1px;
  text-align: center;
}
.certificate__title {
  margin-top: 81px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43.2px;
  font-weight: semibold;
  color: #333333;
}
.certificate__image {
  position: relative;
}
.certificate__content {
  margin-top: 79px;
  margin-left: auto;
  margin-right: auto;
  width: 1240px;
  height: 623px;
  background-color: #F2F4F4;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.certificate__left {
  text-align: left;
  margin-left: 120px;
}
.certificate__overhead {
  margin-top: 112px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  font-weight: medium;
  color: #C1C1C1;
}
.certificate__head {
  margin-top: 8px;
  margin-bottom: 53px;
  font-family: Montserrat;
  font-size: 48px;
  line-height: 67px;
  font-weight: semibold;
  color: #4A4A4A;
}
.list {
  text-align: center;
  margin-top: 26px;
  display: flex;
  justify-content: flex-start;
}
.list__image {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}
.list__text {
  margin-left: 16px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: semibold;
  color: #4A4A4A;
}
.certificate__right {
  margin-right: 86px;
}
.certificate__image {
  margin-top: -7px;
  z-index: 2;
}
.certificate__term {
  margin-top: -19px;
  margin-right: 94px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #333333;
}
.button_certificate {
  margin-top: 24px;
  width: 342px;
  height: 48px;
  margin-right: 92px;
}
.certificate__curve {
  position: absolute;
  left: 574px;
  top: 200px;
}
.reviews {
  width: 1440px;
  height: 869px;
  padding-top: 1px;
  text-align: center;
}
.reviews__title {
  margin-top: 59px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43px;
  font-weight: semibold;
  color: #333333;
}
.reviews__content {
  margin-top: 80px;
  margin-left: 198px;
  width: 1052px;
  display: flex;
  justify-content: space-between;
}
.review {
  text-align: center;
  margin-top: 101px;
}
.review__name {
  margin-top: 31px;
  font-family: Montserrat;
  font-size: 24px;
  line-height: 24px;
  font-weight: semibold;
  color: #4A4A4A;
}
.review__text {
  margin-top: 14px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 26px;
  font-weight: medium;
  color: #333333;
}
.review__view {
  margin-top: 8px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: semibold;
  color: #E97522;
}
.button_reviews {
  margin-top: -20px;
  width: 342px;
  height: 48px;
}
.review-top {
  margin-top: 0px;
}
.form {
  width: 1440px;
  height: 869px;
  padding-top: 1px;
  text-align: center;
  position: relative;
}
.form__content {
  margin-top: 99px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.form__right {
  width: 551px;
  height: 594px;
  text-align: center;
  background-color: #F2F4F4;
  border-radius: 25px;
  position: relative;
  margin-left: -208px;
}
.form__left {
  margin-top: 26px;
  position: relative;
}
.form__circle-left {
  position: relative;
  top: 480px;
  margin-left: -350px;
  border-radius: 0 0 0 25px;
}
.form__address {
  position: relative;
  top: -405px;
}
.form__form {
  text-align: center;
  width: 551px;
  height: 594px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: hidden;
}
.form__text {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 36px;
  font-weight: semibold;
  color: #4A4A4A;
}
.form__input {
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  display: block;
  margin-top: 16px;
  text-align: left;
}
.input__text {
  margin-top: 8px;
  width: 420px;
  height: 48px;
  border-radius: 5px;
  border-color: #DDDEE4;
  border-style: solid;
}
.form__label {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 12px;
  font-weight: medium;
  color: rgba(18, 22, 33, 0.4);
  align: left;
}
