.location {
  width: 1440px;
  height: 720px;
  padding-top: 1px;
  text-align: center;
}
.location__title {
  margin-top: 59px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  color: #333333;
}
.button_location {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
