.location {
  width: 1440px;
  height: 720px;
  padding-top: 1px;
  text-align: center;
}
.location__title {
  margin-top: 59px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  color: #333333;
}
.button_location {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
  max-height: 100vh;
}
.number-slide1 {
  background: #40afff;
  background: linear-gradient(128deg, #40afff 0%, #3f61ff 100%);
}
.number-slide2 {
  background: #ff4b40;
  background: linear-gradient(128deg, #ff9a3f 0%, #ff4b40 100%);
}
.number-slide3 {
  background: #b6ff40;
  background: linear-gradient(128deg, #b6ff40 0%, #3fff47 100%);
  background: linear-gradient(128deg, #bdff53 0%, #2bfa52 100%);
}
.number-slide4 {
  background: #40fff2;
  background: linear-gradient(128deg, #40fff2 0%, #3fbcff 100%);
}
.number-slide5 {
  background: #ff409c;
  background: linear-gradient(128deg, #ff409c 0%, #ff3f3f 100%);
}
.number-slide6 {
  background: #404cff;
  background: linear-gradient(128deg, #404cff 0%, #ae3fff 100%);
}
.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px dashed black;
}
