.location {
  width: 1440px;
  height: 720px;
  padding-top: 1px;
  text-align: center;
  position: relative;
}
.location__title {
  margin-top: 59px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  color: #333333;
}
.button_location {
  margin-left: auto;
  margin-right: auto;
  margin-top: 56.45px;
  display: block;
}
.location__image {
  position: absolute;
  top: 100px;
  left: 0px;
  z-index: -1;
}
[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
  max-height: 100vh;
}
.number-slide1 {
  background: #40afff;
  background: linear-gradient(128deg, #40afff 0%, #3f61ff 100%);
}
.number-slide2 {
  background: #ff4b40;
  background: linear-gradient(128deg, #ff9a3f 0%, #ff4b40 100%);
}
.number-slide3 {
  background: #b6ff40;
  background: linear-gradient(128deg, #b6ff40 0%, #3fff47 100%);
  background: linear-gradient(128deg, #bdff53 0%, #2bfa52 100%);
}
.number-slide4 {
  background: #40fff2;
  background: linear-gradient(128deg, #40fff2 0%, #3fbcff 100%);
}
.number-slide5 {
  background: #ff409c;
  background: linear-gradient(128deg, #ff409c 0%, #ff3f3f 100%);
}
.number-slide6 {
  background: #404cff;
  background: linear-gradient(128deg, #404cff 0%, #ae3fff 100%);
}
.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px dashed black;
}
.keen-slider:not([data-keen-slider-disabled]) {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  align-content: flex-start;
  display: flex;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  width: 100%;
}
.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse;
}
.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap;
}
.keen-slider-location {
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 71.12px;
}
.keen-slider__slide-location {
  width: 1000px;
}
.thumbnail-location {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.keen-slider {
  width: 1000px;
}
.slide-location {
  width: auto;
  height: 100%;
}
.location__content {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  text-align: center;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .location {
    width: 100vw;
    height: 54.69vw;
  }
  .works__title {
    margin-top: 100px;
    font-size: 30px;
    line-height: 36px;
  }
  .location__content {
    margin-top: 80px;
    height: 34.72vw;
    width: 100vw;
    overflow: hidden;
  }
}
