@media (max-width: 1024px) {

    .price__title {
        font-size: 16px;
    }
    
    }

.price-mixin {
    width: 398px;
    height: 654px;
    text-align: center;
    box-shadow: 0px 0px 6px rgb(217, 217, 217);
    border-radius: 8px;

    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transform: translateY(-10px);
    }

   &__image {
        height: 30px;
        margin-bottom: 10px;
   }

   &__title {
    font-size: 20px;
    margin-bottom: 10px;
   }

   &__text {
    font-size: 14px;
   }

}

.price {
    width: 1440px;
    height: 1108px;
    padding-top: 1px;
    text-align: center;
}

.price__title {
    margin-top: 117px;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 43px;
    font-weight: bold;
    color: #333333;
}

.price__content {
    margin-left: auto;
    margin-right: auto;
    height: 740px;
    width: 1240px;
    display: flex;
    justify-content: space-between;
}

.button_price {
    margin-left: auto;
    margin-right: auto;
    height: 48px;
    width: 370px;
    font-size: 14px;
    line-height: 48px;
}