.reviews {
    width: 1440px;
    height: 869px;
    padding-top: 1px;
    text-align: center;
}

.reviews__title {
    margin-top: 59px;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 43px;
    font-weight: semibold;
    color: #333333;
}

.reviews__content {
    margin-top: 80px;
    margin-left: 198px;
    width: 1052px;
    display: flex;
    justify-content: space-between;
}

.reviews__content-middle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.81vw;
    width: 72.27vw;
    display: flex;
    justify-content: space-between;
    display: none;
}

.review {
    text-align: center;
    margin-top: 101px;
    width: 340px;

   &__name {
    margin-top: 31px;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 24px;
    font-weight: semibold;
    color: #4A4A4A;
   }

   &__text {
    margin-top: 14px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 26px;
    font-weight: medium;
    color: #333333;
   }

   &__view {
    margin-top: 8px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    font-weight: semibold;
    color: #E97522;
   }
}

.button_reviews {
    margin-top: -20px;
    width: 342px;
    height: 48px;
}

.review-top {
    margin-top: 0px;
}

.reviews__content-table{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1024px) {

    .reviews {
        width: 100vw;
        height: 70vw;
    }

    .stages__title {
        margin-top: 7.87vw;
    }

    .reviews__content {
        display: none;
    }

    .reviews__content-middle {
        margin-top: 7.81vw;
        display: block;
    }
 
    .review-middle {
        margin-top: 0;
    }

    .button_reviews-middle {
        margin-top: 4.1vw;
    }
}