.services {
  width: 1440px;
  height: 2074px;
  padding-top: 60px;
  text-align: center;
}
.services__title {
  margin-top: 0px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43.2px;
  font-weight: semibold;
  color: #333333;
}
.services__image {
  margin-top: 80px;
  width: 1240px;
  height: 1811px;
}
@media only screen and (max-width: 1024px) {
  .services {
    width: 100vw;
    height: 144vw;
    padding-top: 100px;
  }
  .services__title {
    margin-top: 9,67vw;
    font-size: 30px;
    line-height: 36px;
  }
  .services__image {
    margin-top: 7.81vw;
    width: 86vw;
    height: 125.76vw;
  }
}
