.studio-1 {
  text-align: center;
}
.session {
  width: 1440px;
  height: 461px;
  padding-top: 1px;
  text-align: center;
  background-color: #F2F4F4;
}
.session__title {
  margin-top: 59px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43px;
  font-weight: semibold;
  color: #333333;
}
.session__text {
  text-align: left;
  margin-top: 32px;
  margin-left: 100px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 26px;
  font-weight: medium;
  color: #4A4A4A;
  visibility: visible;
}
.session__text-middle {
  margin-top: 3.13vw;
  font-family: Montserrat;
  line-height: 24px;
  display: none;
}
.session__link {
  margin-top: 2px;
  float: right;
  margin-right: 47px;
}
@media only screen and (max-width: 1024px) {
  .session {
    width: 100vw;
    height: 47.95vw;
  }
  .studio__title {
    margin-top: 5.86vw;
    font-size: 30px;
    line-height: 36px;
  }
  .session__text {
    display: none;
  }
  .session__text-middle {
    text-align: left;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: medium;
    color: #4A4A4A;
    margin-top: 3.13vw;
    margin-left: 7.81vw;
    line-height: 24px;
    display: block;
  }
}
