.studio {
    width: 1440px;
    height: 907px;
    padding-top: 1px;
    text-align: center;
}

.studio__title {
    margin-top: 140px;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 43px;
    font-weight: semibold;
    color: #333333;
}

.studio__image {
    margin-top: 80px;
    width: 1440px;
    height: 674px;
}

@media only screen and (max-width: 1024px) {
    .studio {
        width: 100vw;
        height: 62.99vw;
    }

    .studio__title {
        margin-top: 11.72vw;
        font-size: 30px;
        line-height: 36px;
    }

    .studio__image {
        margin-top: 7.81vw;
        width: 100vw;
        height: 46.8vw;
    }
}