.works {
    width: 1440px;
    height: 973px;
    padding-top: 1px;
    text-align: center;
}

.works__title {
    margin-top: 119px;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 43px;
    font-weight: semibold;
    color: #333333;
}

.works__slider1 {
    width: 450px;
    margin-left: 800px;
    margin-right: auto;
    transition: width 3s, height 3s;
}

.works__slider {
    width: 450px;
    margin-left: 800px;
    margin-right: auto;
    transition-property: margin-left;
    transition-duration: 3s;
}



.works__nav {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.works__left {
    font-size: 32px;
    cursor: pointer;
    float: left;
}

.works__right {
    font-size: 32px;
    cursor: pointer;
    float: right;
}

.works__content {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1400px;
    overflow: hidden;
    display: flex;
}

// .swiper {
//     width: 600px;
//     height: 400px;
// }

// .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     max-width: 600px;
// }

// .swiper-slide img {
//     max-width: 100%;
// }


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 300px;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1024px) {
    .works {
        width: 100vw;
        height: 67.57vw;  
    }

    .works__title {
        margin-top: 100px;
        font-size: 30px;
        line-height: 36px;
    }

    .works__content {
        margin-top: 80px;
        height: 34.72vw;
        width: 97.2vw;
    }
}