.works {
  width: 1440px;
  height: 973px;
  padding-top: 1px;
  text-align: center;
}
.works__title {
  margin-top: 119px;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 43px;
  font-weight: semibold;
  color: #333333;
}
